.boxed{
    border:1px solid;
    background-color: cornflowerblue;
    padding: 2px;
}    
    






img{
    
    border-radius: 50%;
}
.cart{
    border-radius: 50%;
    display: flex;
    justify-content: flex-end ;
    }
.hello{
    display: flex;
    justify-content: flex-end;
    
}
button{
    background-color:black;
    color:whitesmoke;
    border-radius: 8px;
}
h1{
    color: wheat;
}