
 <div class="boxed">
    
    <img src="assets\fashion-elegant-woman-silhouette-logo-template_126523-225.jpg" width="100" height="100">
   <!---- <div [ngstyle]="{'background' : 'url(https://www.google.com/search?q=family+shopping+images&tbm=isch&hl=en&chips=q:family+shopping+images,g_1:indian:WUK5c8eONTA%3D&rlz=1C1CHBF_enIN858IN858&hl=en&ved=2ahUKEwjFr7eYmbHpAhULGXIKHfn5DgsQ4lYoAHoECAEQFA&biw=1349&bih=657#imgrc=WgQET1p6oOel1M)'}"></div>
   <!-<img  src="assets\family shop.jpg" idth="100" height="100"></div>-->
    <h1><strong>
        IT'S  <br> Shopping  <br> Time</strong></h1>
        <div class=cart>
    <img src="assets/cart.png" width="70" height="70" (click)="callcartpage()" ></div>
<div class="hello">
    
    <button (click)="callhomepage()">home</button>
    <button (click)="callmenspage()">mens</button>
    <button (click)="callgirlspage()">girls</button>
    <button (click)="callkidspage()">kids</button>
    
    </div>
    </div>
    <router-outlet></router-outlet>